{% extends 'base.html' %}
{% block content %}
<div class="subscribed-main">
  <h1 class="subscribed-h1">
    Awesome!
  </h1>
  <div class="subscribed-txt">
    <p>Wait! Before you go, you just received an email that asks you to reply to that email so that your email server will recognize me in the future.</p>
    <p style="font-weight:700">Can you please reply to that email just saying “yes”?</p>
    <p>So we can always be sure you’ll get my next email.</p>
    <p>If you don’t, you will not receive any emails &#128532;</p>
    <p>And if you do that, here’s my promise:</p>
    <p>Every morning (Mon-Fri) I will send you an email that’s entire goal is to help you understand the most relevant stocknews.</p>
    <p>We promise not to spam you.</p>
    <p>Appreciate you!</p>
    <p style="margin-bottom:0;">Your new best friend,</p>
    <a href="/"><img class="subscribed-logo" src="/static/img/logo.svg"></a>
  </div>
</div>
{% endblock %}