{% autoescape off %}
<div style="font-family:Verdana,sans-serif;width:500px;margin: auto;">
   <p style="color:#101b24;line-height:1.2;margin:0;font-size:16px;text-align:center;padding:10px">
      🗞️ WELCOME TO STOCKNEWS AI 🗞️
   </p>
   <div style="padding-bottom:10px;padding-left:10px;padding-right:10px;padding-top:15px;text-align:center;width:100%">
      <h1 style="margin:0;color:#38A169;direction:ltr;font-family:Verdana,Verdana,Sans-serif;font-size:18px;font-weight:400;letter-spacing:normal;line-height:180%;text-align:left;margin-top:0;margin-bottom:10px">
         Thanks for joining our #1 stocknews newsletter!
      </h1>
   </div>
   <div style="padding:10px;font-size:16px;">
      <p style="margin:0;font-size:16px;">You now have access to  Stocknews AI. Now you get:</p>
      <ul style="line-height:1.5;font-size:16px">
         <li aria-level="1">Get AI-curated stocknews daily</li>
         <li aria-level="1">Get a 3-line summary of the market</li>
         <li aria-level="1">Get AI-generated stock feedback</li>
      </ul>
   </div>
   <div style="padding-bottom:10px;padding-left:10px;padding-right:10px;padding-top:5px;width:100%;font-size:16px;">
      <h1 style="margin:0;color:#38A169;direction:ltr;font-family:Verdana,Verdana,Sans-serif;font-size:18px;font-weight:400;letter-spacing:normal;line-height:180%;margin-top:10px;margin-bottom:0">
         On another note, can we ask for a favor<br> that will take 3 seconds:
      </h1>
      <br>
      <h1 style="margin:0;direction:ltr;font-family:Verdana,Verdana,Sans-serif;font-size:16px;font-weight:400;letter-spacing:normal;line-height:180%;margin-top:0;margin-bottom:0">
         Can you <span style="font-weight:600">reply to this email saying “Thanks”?</span><br>
         If not, you will not receive any of our newsletters.
      </h1>
      <h1 style="margin:0;direction:ltr;font-family:Verdana,Verdana,Sans-serif;font-size:16px;font-weight:400;letter-spacing:normal;line-height:180%;margin-top:0;margin-bottom:0">
         <br><span style="font-weight:600">Here’s why:</span><br>
         Most newsletters end up in your spam folder. To make sure that doesn’t happen, replying to the first email tells your email server that you trust us.
      </h1>
      <div style="margin:0;direction:ltr;font-family:Verdana,Verdana,Sans-serif;font-size:16px;font-weight:400;letter-spacing:normal;line-height:180%;margin-top:20px;margin-bottom:0">
         <br>Thank you so much,<br>
         Team Stocknews AI
      </div>
   </div>
   <div style="span:10px;font-size:14px;text-align: center;width:300px;margin:auto;line-height:1.5;margin-top:60px;margin-bottom:50px">
      If you don’t want to receive future editions of Stocknews AI, unsubscribe <a href="#" style="color:#101b24">here</a><br>
      © Stocknews AI.
   </div>
</div>
{% endautoescape %}